.addNoteSection{
    margin-top: 10px;
    width: 80%;
}

.titleArea{
    text-align: left;
    width: 100%;
    margin-bottom: 1px;
}
label{
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    margin-top:10px;
    font-weight: 600;
}
textarea{
    margin:5px;
    padding: 1em;
    width: 100%;
    border:2px solid transparent;
    outline:none;
    background-color: rgb(245, 245, 210);
    
    border-radius: 10px;
    line-height: 1.4;
    transition: all 0.2s;
}
textarea:hover{
    cursor: pointer;
    background-color: beige;
}
textarea:focus{
    cursor:text;
    border-color: #333333;
}
.addNoteBtn{
    background-color:beige;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 16px;
    border-radius: 10px;
    font-size: 1em;
}
.addNoteBtn:hover{
    cursor: pointer;
    background-color: rgb(250, 250, 196);
}

@media (max-width:600px){
    .addNoteSection{
        width: 100%;
    }
}